{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1> Remplissez ce formulaire pour déposer votre annonce </h1>

<div id="formAnnonce">



    {{ form_start (form)}}

    {{ form_widget(form) }}

    <div class="form-group">
            <button type="submit" class="btn btn-success">Envoyer</button>
    </div>

    {{ form_end (form)}}
    

</div>
{% endblock %}