<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

    <!-- NAVBAR RESPONSIVE -->
    <div id="navbar">
    <ul class="topnav">
        <li><a href="/home">Accueil</a></li>
        <li><a href="/soumettre">Déposer une annonce</a></li>
        <li><a href="/annonces">Toutes les annonces</a></li>
        <div class="search">
            <form action="#">
            <li><input type="text" placeholder="Rechercher" name="search"></li>
            <li><button type="submit"><i class="fa fa-search"></i></button></li>
            </form>
        </div>
    </ul>

        
        
        
    </div>

        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
